<h1>Transfer Funds</h1>
<hr>

<form class="form-custom" [formGroup]="transferForm" (ngSubmit)="initiateTransfer()">
  <div class="form-field">
    <label for="source-input">From:</label>
    <input type="text" id="source-input" [value]="myAccount.username" [disabled]="true">
    <!-- Hidden: this is what the form submits -->
    <input type="hidden" formControlName="source">
  </div>

  <div class="form-field">
    <label for="target-option">To:</label>
    <select id="target-option" formControlName="target">
      <option value="" disabled selected hidden>-- Select an account --</option>

      <option *ngFor="let target of targetList" type="text" [value]="target.goal">{{target.goal}}</option>
    </select>
    <div class="error">
      <small *ngIf="transferForm.get('target')?.invalid">Target is required</small>
    </div>
  </div>

  <div class="form-field">
    <label for="amount-input">Amount:</label>
    <input type="text" id="amount-input" formControlName="amount">
    <div class="error">
      <small *ngIf="transferForm.get('amount')?.errors?.['required']">Amount is required</small>
      <small *ngIf="transferForm.get('amount')?.errors?.['min']">Amount too low</small>
      <small *ngIf="transferForm.get('amount')?.errors?.['goneOverMax']">Amount to high</small>
      <small *ngIf="transferForm.get('amount')?.errors?.['goneOverBalance']">Amount exceeds balance</small>
    </div>
  </div>

  <div class="form-field">
    <label for="balance-input">My balance:</label>
    <input type="text" id="balance-input" [value]="myAccount.balance" [disabled]="true">
  </div>

  <button type="submit" [disabled]="transferForm.invalid">Transfer</button>

</form>
